:root {
  --primary-color: #FF6B6B;
  --secondary-color: #67D5B5;
  --text-color: #333333;
  --background-color: #29e918;
}



.header {
  background-color: var(--background-color);
}

.header-title {
  color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
}

.title {
  color: blue;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}